<div class="phone">
  <div class="content">
    <div class="container">
  <div class="tab-container">
    <div class="tab" (click)="shortList('account')">Account 
      <span *ngIf="sortAccountFlag != undefined && showAccount" class="sort-indicator">{{sortAccountFlag ? 'v' : '^'}}</span></div>
    <div class="tab" (click)="shortList('totalAmount')">
      <span class="sort-indicator"
        *ngIf="sortCashFlag != undefined && !showAccount">{{sortCashFlag ? 'v' : '^'}}</span><strong>Available Cash</strong>
      <p>Today's Change</p>
    </div>
  </div>

  <div class="list">
    <div class="item" *ngFor="let item of pageItem">
      <span>{{item.account}}</span>
      <span class="pull-right">
        <strong>{{item.totalAmount | currency:'USD'}}</strong>
        <br>
        <small [style.color]="item.change == 'negative' ? 'red' : (item.change == 'positive' ? '#02b802' : 'grey') "> 
          {{item.change == 'negative' ? "-" : (item.change == 'positive' ? "+" : "")}} {{item.percent | percent}} / {{item.net | currency:'USD'}}
        </small>
      </span>
    </div>
    <paginitation [loadArray]="pageItem" [completeData]="dataItems" [itemPerPage]="3"></paginitation>
  </div>
</div>
  </div>
</div>